.container {
	@include container();
}

.header {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	z-index: 1000;
	background: rgb(255, 255, 255);
	
	&__nav {
		display: flex;
		justify-content: space-between;
		align-items: center;
		padding: 40px 0;

		&-list {
			display: flex;
			align-items: center;
			gap: 35px;

			@include media($md) {
				position: fixed;
				top: 0;
				right: -100%;
				width: 60%;
				height: calc(100vh + 3px);
				flex-direction: column;
				justify-content: center;
				align-items: center;
				background: rgb(176, 0, 0, 0.8);
				backdrop-filter: blur(10px);
				gap: 40px;
				transition: right 0.4s ease;
				box-shadow: -2px 0 10px rgba(0, 0, 0, 0.1);
			}
		}

		&-link {
			font-size: 15px;
			font-family: $Inter;
			font-weight: 600;
			color: black;
			display: flex;
			flex-direction: column;
			align-items: center;
			justify-content: center;
			position: relative;

			&.active-link {
				color: #B00000;
			}

			@include media($md) {
				&.spanWhite {
					color: white;
				}
			}

			&::after {
				content: "";
				display: block;
				position: absolute;
				bottom: 0;
				width: 0%;
				background: #B00000;
				height: 2px;
				transition: 300ms;
			}

			&:hover::after {
				width: 80%;
			}
		}
	}
}

// /* ===== Бургер ===== */
.burger {
	width: 30px;
	height: 20px;
	position: relative;
	display: none;
	flex-direction: column;
	justify-content: space-between;
	border: none;
	background: transparent;
	cursor: pointer;
	z-index: 1100;

	@include media($md) {
		display: flex;
	}

	span {
		display: block;
		height: 3px;
		width: 100%;
		background: #B00000;
		border-radius: 2px;
		transition: 0.4s;

		&.spanWhite {
			background: white;
		}
	}

	&.active span:nth-child(1) {
		transform: rotate(45deg) translateY(12.5px);
	}

	&.active span:nth-child(2) {
		opacity: 0;
	}

	&.active span:nth-child(3) {
		transform: rotate(-45deg) translateY(-12.5px);
	}
}

.header__nav-list.open {
	right: 0;
}

body.no-scroll {
	overflow: hidden;
}