.whyUs {
    margin: 100px 0;
    &__title {
        text-align: center;
        margin-bottom: 50px;
        font-size: 50px;
        font-family: $Inter;
        font-weight: 700;
        @include media($sm) {
            font-size: 40px;
        }
        @include media($xs) {
            font-size: 30px;
        }
    }
    &__block {
        display: flex;
        justify-content: space-around;
        align-items: center;
        flex-wrap: wrap;
        row-gap: 50px;
    }
    &__item {
        max-width: 30%;
        width: 100%;
        border: 1px solid #ededed;
        padding: 30px 20px;
        border-radius: 8px;
        transition: 300ms;
        cursor: default;
        @include media($md) {
            max-width: 40%;
        }
        @include media($sm) {
            max-width: 90%;
            display: flex;
            flex-direction: column;
            align-items: center;
        }
        &:hover {
            box-shadow: 0px 4px 8px 0px rgba(34, 60, 80, 0.2);
            transform: scale(1.1);
        }
    }
    &__top {
        display: flex;
        gap: 20px;
        align-items: center;
        margin-bottom: 20px;
        img {
            width: 50px;
            height: 50px;
            display: block;
        }
    }
    &__name {
        font-size: 20px;
        font-family: $Inter;
        font-weight: 500;
        line-height: 25px;
        @include media($xs) {
            font-size: 16px;
        }
    }
    &__text {
        font-size: 14px;
        color: black;
        font-family: $Inter;
        font-weight: 300;
        text-align: center;
    }
}