.footer {
    background: black;
    padding: 80px 0;
    @include media($xs) {
        padding: 50px 0;
    }

    &__block {
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-wrap: wrap;
        @include media($xs) {
            flex-direction: column;
            align-items: center;
            row-gap: 50px;
        }
    }

    &__left {
        max-width: 250px;
        width: 100%;
        row-gap: 10px;
        display: flex;
        flex-direction: column;
    }

    &__number {
        color: white;
        font-family: $Inter;
        font-size: 14px;
        font-weight: 600;
        margin-top: 10px;
    }

    &__email {
        color: white;
        font-family: $Inter;
        font-size: 14px;
        font-weight: 600;
    }

    &__info {
        color: white;
        font-family: $Poppins;
        font-size: 14px;
        font-weight: 300;
        line-height: 20px;
        margin-top: 10px;
    }

    &__lists {
        display: flex;
        align-items: center;
        gap: 80px;
        @include media($xs) {
            max-width: 250px;
            width: 100%;
        }
    }

    &__list {
        display: flex;
        flex-direction: column;
        row-gap: 15px;
    }

    &__link {
        color: white;
        font-size: 14px;
        font-family: $Inter;
        font-weight: 600;
        transition: 300ms;
        &:hover {
            color: #B00000;
        }
    }

    &__socials {
        display: flex;
        align-items: center;
        gap: 30px;
        @include media($sm) {
            margin: 50px auto;
        }
        @include media($xs) {
            margin: 0;
            max-width: 250px;
            width: 100%;
        }
    }

    &__social {
        position: relative;
        display: inline-block;
        transition: transform 0.3s ease;
        cursor: pointer;

        &::after {
            display: inline-block;
            transition: transform 0.3s ease;
        }

        &:hover::after {
            animation: shake 0.6s ease-in-out 1 alternate;
        }
    }

    &__instagram {
        &::after {
            content: "\f16d";
            font-weight: 400;
            color: white;
            font-size: 35px;
        }
    }

    &__facebook {
        &::after {
            content: "\f39e";
            font-weight: 400;
            color: white;
            font-size: 35px;
        }
    }

    &__linkedin {
        &::after {
            content: "\f0e1";
            font-weight: 400;
            color: white;
            font-size: 35px;
            transition: transform 0.3s ease;
        }
    }

    &__mail {
        &::after {
            content: "\f0e0";
            font-weight: 901;
            color: white;
            font-size: 35px;
        }
    }
}

@keyframes shake {
    0% {
        transform: rotate(0deg);
    }

    25% {
        transform: rotate(20deg);
    }

    50% {
        transform: rotate(-20deg);
    }

    75% {
        transform: rotate(20deg);
    }

    100% {
        transform: rotate(0deg);
    }
}