.call {
    background: #F7FAFE;
    padding: 80px 0;
    margin-bottom: 80px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    @include media($xs) {
        padding: 40px 0;
    }

    .triangle {
        position: absolute;
        z-index: 100;
        width: 40px;
        height: 40px;
        background: #B00000;

        &:nth-child(3) {
            top: 0;
            left: 35%;
            clip-path: polygon(100% 1%, 0% 100%, 100% 100%);
            @include media($xs) {
                width: 25px;
                height: 25px;
            }
        }

        &:nth-child(4) {
            left: -10px;
            bottom: 88px;
            clip-path: polygon(0 0, 0% 100%, 100% 100%);
            @include media($xs) {
                width: 25px;
                height: 25px;
            }
        }

        &:nth-child(5) {
            right: -10px;
            bottom: 40px;
            clip-path: polygon(100% 1%, 0% 100%, 100% 100%);
            width: 72px;
            height: 72px;
            @include media($xs) {
                width: 40px;
                height: 40px;
            }
        }
    }

    &__title {
        font-size: 64px;
        font-family: $Poppins;
        font-weight: 600;
        color: #2E2E2E;
        margin-bottom: 40px;
        line-height: 88px;
        max-width: 80%;
        width: 100%;

        @include media($xl) {
            max-width: 100%;
        }

        @include media($lg) {
            font-size: 45px;
            line-height: 60px;
        }

        @include media($sm) {
            font-size: 30px;
            line-height: 45px;
        }

        @include media($xs) {
            font-size: 20px;
            line-height: 35px;
            margin-bottom: 20px;
        }

    }

    &__link {
        font-size: 14px;
        line-height: 24px;
        color: white;
        font-family: $Poppins;
        font-weight: 400;
        background: #B00000;
        border-radius: 8px;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 10px;
        width: 208px;
        height: 48px;

        @include media($xs) {
            width: 150px;
            height: 38px;
            font-size: 10px;
        }
    }

    &__icon {
        &::before {
            content: "\f879";
            font-weight: 901;
            color: white;
        }
    }
}